.window {
	color: #fff;
	background-image: linear-gradient(0deg, #1E3D42, #0E1E20);
	padding: 12px;
	font-family: Verdana;
	position: absolute;
	min-width: 100px;
	min-height: 100px;
	top: 50%;
}

.window .title {
	z-index: 1;
	position: absolute;
	left: -0.5em;
	top: -4em;
	width: 110%;
	height: 2.5em;
	color: #D4F98E;
	line-height: 2em;
	text-align: center;
	background-image: url("http://127.0.0.1:3000/assets/images/x_ui/title.png");
	background-size: contain;
	display: inline-flex;
	border-radius: 15px;
	justify-content: space-between;
}

.window .title::before {
	content: "";
	background-image: url("http://127.0.0.1:3000/assets/images/x_ui/decoration_3.png");
	background-position-y: center;
	height: 100%;
	margin-right: 0.25em;
}

.window .title::after {
	content: "";
	background-image: url("http://127.0.0.1:3000/assets/images/x_ui/decoration_2.png");
	background-position-y: center;
	height: 100%;
	margin-left: 0.25em;
}

.window .borders {
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	position: absolute;
	top: -50px;
	left: -50px;
	border-image: url("http://127.0.0.1:3000/assets/images/x_ui/borders.png") 100/1/0 repeat;
	border-style: solid;
	border-width: 100px;
}